# Ignore Devices Backup Folder
devices
devices/*
devices/**

# Ignore ms-tools Folder
ms-tools
ms-tools/*
ms-tools/**

# Ignore stock Firmware Folder
stock-firmware
stock-firmware/*
stock-firmware/**
